.table-container {
  // colors variables
  $delete: #e35e6b;
  $edit: #d9cd26;

  table {
    width: 100%;

    // action colors
    .edit {
      margin-right: 15px;
      i {
        color: $edit;
      }
    }
    .delete {
      i {
        color: $delete;
      }
    }
  }

  .row:hover {
    background-color: rgba(80, 80, 80, 0.522);
  } 
}
