.sidenav {
  $shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

  background-color: #673ab7;
  width: 200px;
  box-shadow: $shadow;

  a {
    // link
    // color: #fff;

    i {
      // icon
      padding-right: 10px;
    }
  }

  .list-item {
    color: #fff;
  }

  .list-item:hover {
    background-color: #855fc788;
  }

  mat-divider {
    color: #fff;
  }
}

.content {
  padding: 16px;
  background-color: #fff;
}
