/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.red {
  color: #e35f6c;
}

.v-middle {
  vertical-align: middle;
}

.mat-card {

  .mat-card-title {
    color: #673ab7;
  }

  form {
      display: flex;
      flex-direction: column;
      margin:  50px 0px 40px 0px;
  }

  .mat-card-actions {
      .btn {
          margin: 0px 15px 20px 05px;
      }
  }
}

.msg-success {
  background-color: #28a745;
  color: #fff;
}

.msg-error {
  background-color: #e35f6c;
  color: #fff;
}
